{block content}
    <div class="container">
        <img src="{$basePath}/img/logo.svg" id="logo">
        <div class="center">
            <p class="claim">TBD</p>
        </div>
    </div>
{/block}

