#searchbox {
    span {
        padding-right: 20px;
        line-height: 52px;
    }

    input {
        height: 52px;
        width: 540px;
        max-width: 100%;
        padding: 19px 80px 19px 21px;
        color: @color-black;

        &::-webkit-input-placeholder{
            font-size: 14px;
            color: @color-black;
        }

        &:-moz-placeholder{
            font-size: 14px;
            color: @color-black;
        }

        &::-moz-placeholder{
            font-size: 14px;
            color: @color-black;
        }

        &:-ms-input-placeholder{
            font-size: 14px;
            color: @color-black;
        }
    }

    .input-group-btn {
        display: inline;
        border-radius: none;
        button {
            border-radius: 0;
            height: 50px;
            margin-left: -65px;
            margin-top: -5px;
            background: transparent;
            border: none;
            font-size: 24px;
            color: @color-primary;
            outline: 0;
            box-shadow: none;
            .glyphicon {
                top: -6px;
            }
        }
    }
}
