<div id="searchbox">
    <span>How do I</span>
    <input type="text" name="search_how" placeholder="configure database, etc...">
    <div class="input-group-btn">
        <button class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>
